.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: '';
    border-bottom: rem(1) solid var(--mantine-color-default-border);
  }
}

.sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    border-bottom: rem(1) solid var(--mantine-color-default-border);
  }
}
